// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.error_msg {
    color: red;
}

.label-larger {
    font-size: larger;
}

.app {
    min-height: fit-content;
}
